<?xml version="1.0" encoding="UTF-8"?>
				<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
				<plist version="1.0">
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>assets</key>
							<array>
								<dict>
									<key>kind</key>
									<string>software-package</string>
									<key>url</key>
									<string>https://dl.dropboxusercontent.com/s/krwr2ucppxsuvub/Tiktok_TQ_19.0.0vip7.ipa?dl=0</string>
								</dict>
								<dict>
									<key>kind</key>
									<string>display-image</string>
									<key>needs-shine</key>
									<true/>
									<key>url</key>
									<string>https://i.codevn.net/images/icon-144.png</string>
								</dict>
								<dict>
									<key>kind</key>
									<string>full-size-image</string>
									<key>needs-shine</key>
									<true/>
									<key>url</key>
									<string>https://i.codevn.net/images/icon-144.png</string>
								</dict>
							</array>
							<key>metadata</key>
							<dict>
								<key>bundle-identifier</key>
								<string>i.codevn.789hmz6d</string>
								<key>bundle-version</key>
								<string>3688</string>
								<key>kind</key>
								<string>software</string>
								<key>title</key>
								<string>TIKTOK THẰNG TRUNG QUỐC</string>
							</dict>
						</dict>
					</array>
				</dict>
				</plist>





















